/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a {
    text-decoration: none;
}

/* 
    FONT
*/
body * {
    font-family: 'Noto Sans', sans-serif;
}

/* 
    GENERAL
*/

.container{
    width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

:root{
    --color-blue: #0084FD;
    --color-blue-light: #B5DDFF;
    --color-violet: #9792E5;
}

.my-col-2-3{
    width: calc((100% / 3) * 2);
}

.my-col-1-3{
    width: calc((100% / 3) * 1);
}

.my-button {
    padding: 8px 12px;
    background-color: white;
    border-radius: 15px;
    color: #CFCDF3;
}


/* 
    HEADER
*/

header{
    background-color: var(--color-blue);
}

header .container{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    line-height: 3rem;
}

header .container .logo img,
header .container .hamburger-menu i{
    vertical-align: middle;
}

header .container .menu{
    display: none;
}

/* 
            MAIN
*/

main section:nth-child(even){
    background-color: var(--color-violet);
}

main .introduction .row .card{
    background-color: var(--color-blue-light);
    margin: 20px;
    border-radius: 30px;
    color: #5A6E7F;
}

main .introduction .row .card h2{
    color: var(--color-blue);
}

main .introduction .row .card *{
    text-align: center;
    margin: 20px 20px 0 20px;
}

.card-sec-2{
    margin: 20px;
}


/* 
    TESTIMONIAL SECTION
*/

.testimonial-container {
    width: 75%;
    margin: 0 auto 30px auto;
    text-align: center;
}

.testimonial-container > * {
    margin-bottom: 20px;
}

#intro-testimonials {
    text-transform: uppercase;
}


.card-testimonials{
    background-color: var(--color-violet);
    color: white;
    display: flex;
    border-radius: 30px;
}

.card-testimonials div:first-child {
    width: 30%;
    margin-right: 15px;
}

.card-testimonials div * {
    margin-bottom: 20px;    
}

.card-testimonials-text {
    text-align: left;
    margin: 20px 0;
}

.virgolette {
    font-size: 2em;
    margin-right: 20px;    
}

/* 
    features
*/

.features {
    width: 75%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}

.card-features {
    width: calc(90% / 3);
    background-color: white;
    color: var(--color-violet);
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
}

.card-features > * {
    margin-top: 15px;
}

.card-features h2 {
    font-size: 3rem;
}

.card-features p {
    margin-bottom: 20px;
    color: grey;
    font-size: .9em;
    line-height: 1.5em;
}

.violet-button {
    background-color: var(--color-violet);
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
}

/* 
    about us
*/

.about-us {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: var(--color-violet);
}

.about-us-text {
    width: 65%;
}

.about-us-text > p,
.about-us-card p {
    line-height: 1.5em;
    margin-bottom: 10px;
}

.about-us-card {
    width: 20%;
}

.about-us-card > * {
    margin-bottom: 20px;
}

.about-us-text h2 {
    margin-bottom: 20px;
}

.about-us-text p {
    color: black;
}


/* 
    get started
*/

.get-started{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.get-started * {
    margin-bottom: 20px;
}

#get-started-intro {
    text-transform: uppercase;
    margin: 20px auto;
    color: #CFCDF3;
}

.get-started h3 {
    line-height: 2em;
    font-size: 1.5em;
}

.get-started h2 {
    margin: 20px;
    font-size: 4em;
    color: #FEC15E;
}


/* 
    FOOTER
*/


        /* 
            MEDIA QUERY
        */

/* 
    TABLET
*/



/* 
    DESKTOP
*/


/* 
    DEBUG
*/

/* .debug header *{
    border: 1px solid black;
} */

/* .debug main .introduction .row *{
    border: 1px dashed red;
} */