/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a {
    text-decoration: none;
}

/* 
    GENERAL
*/

.container{
    width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col-1-3{
    width: calc((90% / 3) * 1) ;
}

.col-2-3{
    width: calc((90% / 3) * 2) ;
}

:root{
    --color-blue: #0084FD;
    --color-blue-light: #B5DDFF;
}

/* 
    HEADER
*/

header{
    background-color: var(--color-blue);
}

header .container{
    justify-content: space-between;
    flex-wrap: wrap;
}

header .container .logo{
    display: block;
}

header .container .menu{
    display: none;
}

/* 
    MAIN
*/

main .introduction .card{
    background-color: var(--color-blue-light);
    border: 1px dashed red;
}


/* 
    FOOTER
*/


        /* 
            MEDIA QUERY
        */

/* 
    TABLET
*/

@media screen and (max-width: 992px) {
    main{
        background-color: green;
    }
}


/* 
    DESKTOP
*/

/* @media screen and (min-width: 992px) {
    main{
        background-color: blue;
    }
} */

/* 
    DEBUG
*/

.debug header *{
    border: 1px solid black;
    min-height: 100px;
}

/* .debug main .introduction .row *{
    border: 1px dashed red;
} */